@model Model.Entities.Person

<div class="container d-flex justify-content-between">
	<div class="d-flex align-items-center gap-4">
		<a class="rounded-pill border-0 text-center text-info" asp-controller="Home" asp-action="index">
			<i class="bi bi-arrow-left-circle fs-1"></i>
		</a>
		<h1>@Model.FullName</h1>
		<a asp-action="Create" asp-controller="Debt" asp-route-PerrsonId="@Model.id" class="btn btn-outline-primary px-4" >Add Debt</a>
	</div>
	<div class="d-flex align-items-center gap-4">
		<h3>@Model.CreatedAt</h3>
		<div class="btn-group gap-2">
			<a asp-action="Edit" asp-route-id="@Model.id" class="btn btn-outline-info">Edit</a>
			<a asp-action="Delete" asp-route-id="@Model.id" class="btn btn-outline-danger">Delete</a>
		</div>
	</div>
</div>
<hr />
@if(Model.Debts != null)
{
	@foreach(var debt in Model.Debts)
	{
		<h1>@debt.Amount</h1>
	}
}